<div>
  <div>
    <label for="classicInput">Classic</label>
    <input id="classicInput" type="number" [(ngModel)]="classicQt"/>
  </div>

  <div>
    <label for="standoutInput">Standout</label>
    <input id="standoutInput" type="number" [(ngModel)]="standoutQt"/>
  </div>

  <div>
    <label for="premiumInput">Premium</label>
    <input id="premiumInput" type="number" [(ngModel)]="premiumQt"/>
  </div>
</div>

<app-company (companySelected)=onCompanySelected($event)></app-company>

<app-total
  [classicQt]="classicQt"
  [standoutQt]="standoutQt"
  [premiumQt]="premiumQt"
  [selectedCompanyId]="selectedCompanyId"
></app-total>
